# Dart/Pub/Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ/VSCode/Android Studio
*.iml
*.ipr
*.iws
.idea/
.vscode/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/Generated.xcconfig

# Linux
linux/Flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc

# Windows
windows/Flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc

# iOS
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# doc/api
**/doc/api/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
